html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#sky {
  width: 100vw;
  height: 100vh;
  background-color: skyblue;
  position: absolute;
  opacity: 0%;
}

#orbits {
  width: 100vw;
  height: 100vh;
}

.planet {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* background-color: rgb(36, 157, 226); */

    position:absolute;

    /* offset-path: path("M 50,50      a 80,50 0 0,0 160,0     a 80,50 0 0,0 -160,0 "); */
    /* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
    animation: move linear infinite;
    /* animation-duration: 1000ms; */
}

#sun {
  position:absolute;
}

#mercury {
  background-color: #B7B8B9;
}

#venus {
  background-color: #a57c1b;
}

#earth {
  background-color: #4f4cb0;
}

#mars {
  background-color: #f0e7e7;
}

#jupiter {
  background-color: #ddbca6;
}

/* #saturn {
  background-color: #ceb8b8;
} */

#neptune {
  background-color: #5b5ddf;
}

#uranus {
  background-color: #ACE5EE;
}

#pluto {
  background-color: #9ca6b7;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.timeBox {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 3em;
  height: 2em;
}
#minutesBox {
  left: 7em;
}
#secondsBox {
  left: 13em;
}
#cancelCustomTimeBox {
  left: 19em;
}