html, body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

#orbits {
  width: 100vw;
  height: 100vh;
}

.planet {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(36, 157, 226);

    position:absolute;

    /* offset-path: path("M 50,50      a 80,50 0 0,0 160,0     a 80,50 0 0,0 -160,0 "); */
    /* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
    animation: move linear infinite;
    /* animation-duration: 1000ms; */
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

